@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400&family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Urbanist', sans-serif; 
font-family: 'Anton', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    animation: transitionPage 0.5s forwards;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 77px;
    display: flex;
    background-color: rgb(77, 75, 75);
    padding: 10px 0;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}
.cont_list {
    width: 100%;
    height: auto;
    align-content: center;
    display: flex;
    justify-content: center;
}
.nav {
    align-items: center;
    display: flex;
}
.nav-item { 
    padding: 4px 0;
    box-sizing: border-box;
    display: flex;
}
.nav-item a {
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Fira Sans Condensed', sans-serif;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    transition: 0.4s;
}
.nav-item a:hover {
    color: rgb(201, 173, 112); 
}
.nav-home {
    text-decoration: none;
    color: #fff;
}
.nav-adv{
    text-decoration: none;
    color: #fff;
}
.nav-quem{
    text-decoration: none;
    color: rgb(201, 173, 112);
}
.img-fluid {
    width: 50px;
    height: 50px;
}
.nav-area {
    text-decoration: none;
    color: #fff;
}
.nav-noticias {
    text-decoration: none;
    color: #fff;
}
.nav-contato {
    text-decoration: none;
    color: #fff;
}
.mobile {
    display: none;
}
.quem {
    border-left: 1px solid  #fff;
}
.noticias {
    border-right: 1px solid #fff;
}
.adv {
    border-left: 1px solid  #fff;
    border-right: 1px solid #fff;
}
.area {
    border-left: 1px solid  #fff;
    border-right: 1px solid #fff;
}
.burger {
    display: none;
}


section {
    position: relative;
    top: 70px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(166,147,116,1);
}
.cont_id {
    width: 100%;
    height: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    box-sizing: border-box;
}
hr.line_top {
border-top: 1px solid #fff;
opacity: 1;
width: 315px;
height: auto;
margin: 20px auto;
animation: slideBarQuem 0.8s ease forwards;
}
hr.line_bottom {
    border-top: 1px solid #fff;
    opacity: 1;
    width: 315px;
    height: auto;
    margin: 20px auto; 
    animation: slideBarQuem 0.8s ease forwards;
}
.cont_title h1{
    font-size: 48px;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    font-weight: 200;
    color: #fff;
    animation: fadeTop 0.8s ease forwards;
}


.cont_quem_somos {
    width: 100%;
    height: auto;
    position: relative;
    top: 70px;
    max-width: 950px;
    margin: auto;
}
.cont_title_text {
    width: 100%;
    height: auto;
    text-align: justify;
    padding: 30px 20px 50px 20px;
    box-sizing: border-box;    
}
.quem_title_text {
    width: 100%;
    height: auto;
}
.quem_title {
    margin-bottom: 50px;
}
.quem_title h1 {
    font-family: 'Anton', sans-serif;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(83, 83, 83);
    text-align: center;
}
.quem_title h3 {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #a69374;
    letter-spacing: 0.2px;
    text-align: center;
}
.quem_text {
    width: 100%;
    height: auto;
}
.quem_text p {
    color: rgb(0, 0, 0);
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.quem_text b {
    font-weight: 600;
}
.five_c {
    padding: 30px 0;
    box-sizing: border-box;
    text-align: center;
    display: grid;
    grid-gap: 20px;
}
.text_five_c {
    border-bottom: 1px solid #a69374;
    padding-bottom: 10px;
    box-sizing: border-box;
}
.cinza{
    color: rgb(117, 117, 117);
    font-family: 'Anton', sans-serif;
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 1px;
}
.bege {
    color: rgb(166,147,116);
    font-family: 'Anton', sans-serif;
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 1px;
}
.last_text {
    margin-top: 20px;
}



footer {
    width: 100%;
    height: 45px;
    position: relative;
    top: 70px;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(166,147,116,1);
}
.cont_footer p {
    color: rgb(255, 255, 255);
    font-family: 'Ur
}